@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar.is-sticky {
  top: 0;
  z-index: 999;
  position: fixed;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
}

@layer base {
  :root {
    --background: 0 0% 98.04%;
    --foreground: 46 66% 4%;
    --muted: 0 0% 94.9%;
    --muted-foreground: 46 15% 31%;
    --popover: 0 0% 99%;
    --popover-foreground: 46 66% 3%;
    --card: 0 0% 100%;
    --card-foreground: 46 66% 3%;
    --border: 0 0% 94.9%;
    --input: 46 11% 95%;
    --primary: 32.85 93.25% 53.53%;
    --primary-foreground: 45.71 0% 100%;
    --secondary: 46 17% 90%;
    --secondary-foreground: 46 17% 30%;
    --accent: 46 0% 92.31%;
    --accent-foreground: 46 27% 23%;
    --destructive: 4.53 78.82% 49.47%;
    --destructive-foreground: 19 0% 100%;
    --ring: 32.85 93.25% 53.53%;
    --radius: 0.5rem;
    --success: 112 69% 59%;
    --success-foreground: 0 0% 0%;
    --warning: 28 69% 59%;
    --warning-foreground: 0 0% 0%;
    --info: 230 69% 59%;
    --info-foreground: 0 0% 100%;
  }

  .dark {
    --background: 46 42% 1%;
    --foreground: 46 30% 98%;
    --muted: 46 10% 7%;
    --muted-foreground: 46 15% 69%;
    --popover: 46 42% 2%;
    --popover-foreground: 46 30% 99%;
    --card: 46 42% 2%;
    --card-foreground: 46 30% 99%;
    --border: 46 11% 12%;
    --input: 46 11% 12%;
    --primary: 32.85 93.25% 53.53%;
    --primary-foreground: 46 0% 100%;
    --secondary: 46 6% 12%;
    --secondary-foreground: 46 6% 72%;
    --accent: 0 0% 21.57%;
    --accent-foreground: 44 15.46% 80.98%;
    --destructive: 19 98% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 32.85 93.25% 53.53%;
    --success: 114 91% 6%;
    --success-foreground: 114 91% 46%;
    --warning: 28 91% 6%;
    --warning-foreground: 28 91% 66%;
    --info: 210 91% 6%;
    --info-foreground: 210 91% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
